* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

:root {
    --bg-color: #dce2e8;
    --text-color: #131313;
    --second-bg-color: #008BE0;
    --main-color: ##008BE0;
}

.darkMode {
    --bg-color: #131313;
    --text-color: #dce2e8;
}

#troca-tema {
    border: 2px solid var(--text-color);
    position: absolute;
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    top: 30px;
    right: 60px;
}

#troca-tema svg {
    fill: var(--text-color);
}

#troca-tema svg:last-child {
    display: none;
}

.darkMode #troca-tema svg:first-child {
    display: none;
}

.darkMode #troca-tema svg:last-child {
    display: block;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 12% 0;
    background-image: url(../assets/background.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: top center;
    display: flex;
    z-index: 5;
}

.header img {
    width: 7rem;
    height: 7rem;
}

section {
    min-height: 90vh;
    padding: 10rem 12% 10rem;
}

.secao-principal {
    background-color: var(--bg-color);
    margin: auto;
    margin-top: 2.5rem;
}

.container {
    position: relative;
    display: flex;
    border-top: 5px solid var(--text-color);
    border-bottom: 5px solid var(--text-color);
}

.container .logo-principal {
    width: 25rem;
    height: 25rem;

}

.container .descricao .logo-tuctor {
    position: absolute;
    width: 15rem;
    height: 15rem;
    animation: 700ms ease-in-out;
}

.container .descricao p {
    position: absolute;
    top: 45%;
    color: var(--text-color);
    font-size: 15px;
    font-weight: 600;
    width: 65%;
}

.enfeite-topo{
    position: absolute;
    width: 0px;
    height: 0px;
    background-color: transparent;
    border: 2rem solid transparent;
    border-top: 2rem solid var(--text-color);
    border-left: 2rem solid var(--second-bg-color);
}

.enfeite-fundo{
    position: absolute;
    margin-left: 94.5%;
    margin-top: 29.5%;
    width: 0px;
    height: 0px;
    background-color: transparent;
    border: 2rem solid transparent;
    border-bottom: 2rem solid var(--text-color);
    border-right: 2rem solid var(--second-bg-color);
}

.text-animation {
    color: var(--text-color);
    position: absolute;
    top: 65%;
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.text-animation span {
    position: relative;
}

.text-animation span::before {
    content: "Professor";
    color: var(--second-bg-color);
    animation: words 20s infinite;
}

.text-animation span::after {
    content: "";
    background-color: var(--bg-color);
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid var(--bg-color);
    right: -8px;
    animation: cursor 0.6s infinite, typing 20s steps(15) infinite;
}

@keyframes cursor {
    to{
        border-left: 2px solid var(--second-bg-color);
    }
}

@keyframes words {
    0%,
    20%{
        content: "Professor";
    }
    21%,
    40%{
        content: "Tutor";
    }
    41%,
    60%{
        content: "Auxiliar";
    }
    61%,
    80%{
        content: "Companheiro";
    }
    81%,
    100%{
        content: "Help";
    }
}

@keyframes typing {
    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95%{
        width: 0;
    }
    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85%{
        width: calc(100% + 8px);
    }
}

.secao-pergunta {
    background-image: url(../assets/background.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: top center;
    border-top: 4px solid rgba(0, 139, 224, 0.8);
    border-bottom: 4px solid rgba(0, 139, 224, 0.8);
}

form {
    display: flex;
    gap: 0.85rem;
    flex-wrap: wrap;
    margin: 1.25rem 1.25rem;
    flex-direction: column;
    gap: 1rem;
}

.linha-dupla {
    display: flex;
    gap: 1rem;
}

.linha-dupla input,
.linha-dupla select {
    flex: 1;
}

.linha-dupla input {
    min-width: 70%;
}

.linha-dupla select {
    border: 2px solid #43E7AD;
}

.linha-unica textarea {
    width: 97.5%;
    padding-top: 0; 
    resize: none;
    padding: 0.75rem;
    height: 6rem;
    white-space: pre-wrap;
    overflow-wrap: break-word; 
    word-break: break-word;
}

input, select, textarea {
    all: unset;
    border: 2px solid var(--second-bg-color);
    border-radius: 0.5rem;
    padding: 0.675rem;
    font-size: 0.875rem;
    background-color: #00000055;
}

.secao-pergunta > div {
    color: #dce2e8;
    padding: 2rem;
    padding-top: 1.5rem;
    border-radius: 0.5rem;
    background-color: #272634;
}

.secao-pergunta h2 {
    margin-left: 1.25rem;
    letter-spacing: -0.47px;
}

.secao-pergunta p {
    margin-left: 1.25rem;
    letter-spacing: -0.18px;
    color: #A1A1AA;
}

.secao-pergunta {
    opacity: 0;
    transform: translateY(2rem);
    animation: aparecer 0.5s ease-in forwards;
}

@keyframes aparecer {
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

button {
    width: 100%;
    border: 0;
    background-color: var(--second-bg-color);
    padding: 0.675rem;
    border-radius: 0.5rem;
    font-weight: bold;
    letter-spacing: 0.12px;
    transition: all 0.3s;
    color:  #dce2e8;
;
}

button:hover {
    cursor: pointer;
    transform: translateY(-2px);
    box-shadow: 0 5px 1rem rgba(255, 248, 107, 0.2);
}

button:disabled {
    transition: initial;
    transform: translateX(0);
    box-shadow: initial;
    cursor: not-allowed;
    color: var(--text-color);
}

.loading {
    animation: pulse 1.5s infinite;
}

.hidden {
    display: none;
}

@keyframes pulse {
    50%{
        opacity: 0.5;
    }
}

.secao-respota {
    background-color: var(--bg-color);
    padding-top: 5.5rem;
}

.secao-respota h2 {
    font-size: 3rem;
    color: var(--second-bg-color);
    text-align: center;
    margin-bottom: 5rem;
}

#iaResponse {
    color: #dce2e8;
    background: #272634;
    border-radius: 0.5rem;
    padding: 1.25rem;
    border-left: solid 4px var(--second-bg-color);
}

#iaResponse ul {
    padding-left: 1.5rem;
    opacity: 0.8;
}

#iaResponse p {
    color: #dce2e8;
}

.footer {
    background-image: url(../assets/background.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: top center;
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    border-top: 4px solid rgba(0, 139, 224, 0.8);
}

.footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: #dce2e8;
}

.footer .social a {
    font-size: 25px;
    color: #dce2e8;
    border: 2px solid #dce2e8;
    width: 42px;
    height: 42px;
    line-height: 42px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
    transition: 0.4s ease-in-out;
}

.footer .social a:hover {
    transform: scale(1.2) translateY(-10px);
    background-color: #dce2e8;
    color: var(--second-bg-color);
    box-shadow: 0 0 25px var(--second-bg-color);
}

.footer ul {
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

.footer ul li a {
    color: #dce2e8;
    border-bottom: 3px solid transparent;
    transition: 0.4s ease-in-out;
}

.footer ul li a:hover {
    border-bottom: 3px solid #dce2e8;
}

.footer ul li {
    display: inline-block;
    padding: 0 15px;
}

.footer .copyright {
    margin-top: 50px;
    text-align: center;
    font-size: 16px;
    color: #dce2e8;
}